<% include ../../common/views/head %>
<% include ../../common/views/header %>
   <section class="container">
      <% include ../views/home_view %>
   </section>
<% include ../../common/views/footer %>
